<div onclick="" class="link_list_item  link_list_item_gray" style="overflow-x:auto; white-space: nowrap; vertical-align:middle">
	<img style="cursor:pointer; float:left;width:100px" src="{{thumbnail}}" onclick="" width="120px" />
		<p style="margin-right : 5px; white-space: nowrap;color: #333; font-size: 14.2px; font-weight: bold; margin-bottom: 5px;" class="link_list_item_title" onclick="">{{title}}</p>
		<div style="margin-top : -0.8em; font-size: 13px; line-height:1.7 " />
			<div style="color: #0053a6">
				<span onclick="" style="font-size:12px; margin-top:-0.4em; display:inline-block; ">{{author}}</span>
			</div>		
		</div>
</div>